{% extends 'base.html' %}
{% block content %}
    <div class="btn-container d-flex flex-row gap-2 mb-3">
        <form action="{{ url_for('analysis.extract_embeddings') }}" method="POST">
            <button type="submit" class="btn btn-secondary">Refresh Embeddings</button>
        </form>
        <!-- Analyze Main Changes 버튼 -->
        <form action="{{ url_for('analysis.analyze_changes', analysis_type='main') }}" method="POST">
            <button type="submit" class="btn btn-primary">Analyze from main branch</button>
        </form>
        <!-- Analyze Recent Commit 버튼 -->
        <form action="{{ url_for('analysis.analyze_changes', analysis_type='recent') }}" method="POST">
            <button type="submit" class="btn btn-info">Analyze Recent Commit</button>
        </form>
    </div>
    <form method="POST">
        <div class="mb-3">
            <label for="question" class="form-label">Your Question:</label>
            <textarea name="question" id="question" rows="18" class="form-control" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}